<ion-header [translucent]="true">
  <ion-toolbar>
    <app-nomad-budget [NomadBudget]="'NomadBudget'"></app-nomad-budget>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title class="center-title">Mis Viajes</ion-title>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
      <ion-card-content class="empty-content">
        <ion-icon name="airplane" size="large"></ion-icon>
        <h3>No hay viajes aún</h3>
        <p>Crea tu primer viaje para comenzar</p>
        <ion-button color="dark" shape="round" size="full" routerLink="/viajes-form">Crear Primer Viaje</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
