<ion-header [translucent]="true">
  <ion-toolbar>
    <app-nomad-budget [NomadBudget]="'NomadBudget'"></app-nomad-budget>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-title class="center-title">Ingresa un Nuevo Viaje</ion-title>
</ion-header>

<ion-content fullscreen="true">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre del viaje</ion-label>
        <ion-input [(ngModel)]="viaje.nombre" placeholder=" Ej: Camping Cajón del Maipo"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Destino</ion-label>
        <ion-input [(ngModel)]="viaje.destino" placeholder=" Ciudad, región"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de viaje</ion-label>
        <ion-select [(ngModel)]="viaje.tipo">
          <ion-select-option value="camping">Camping</ion-select-option>
          <ion-select-option value="cabaña">Cabaña</ion-select-option>
          <ion-select-option value="hotel">Hotel</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Presupuesto total</ion-label>
        <ion-input type="number" [(ngModel)]="viaje.presupuesto" placeholder="$"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fecha inicio</ion-label>
        <ion-datetime [(ngModel)]="viaje.fechaInicio" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>

      <ion-button color="dark" shape="round" size="full" (click)="crearViaje()">Crear Viaje</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
