ion-card {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: none;
    border-radius: 5%;
    width: 90%;
}


ion-card-title {
    font-weight: bold;
    color: #41483c;
}

ion-card ion-input {
    --background: transparent;
    color: #41483c;
    /*color texto*/
}

ion-card input {
    background-color: transparent;
    color: #41483c;
    /*color texto*/
}

ion-card ion-item {
    --background: transparent;
    color: #fcc931;
    /*color texto*/
}

ion-item ion-input {
    color: #8f867e;
}

ion-button {
    color: dark;
    text-transform: initial;
}

ion-toolbar{
  width: 100px;
  height: 100px;
}