
<ion-content [fullscreen]="true" class="centered-content fade-in">
  <!-- HEADER-->
  <ion-header [translucent]="true">
  <ion-toolbar>
    <app-nomad-budget [NomadBudget]="'NomadBudget'"></app-nomad-budget>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!--TITULO-->
  <ion-title class="center-title">Mi Perfil</ion-title>
</ion-header>

  <!-- PERFIL -->
 <ion-card>
    <ion-card-content>
      <!-- AVATAR  -->
      <div class="avatar-section">
        <img src="../../assets/img/avatar.png" alt="Avatar" class="profile-avatar">
        <h2>{{ nombre }} {{ apellido }}</h2>
        <p>@{{ usuario }}</p>
      </div>

      <!-- INFO USUARIO -->
      <ion-list>
        <ion-item>
          <ion-label>Nombre: </ion-label>
          <ion-text>{{ nombre }}</ion-text>
        </ion-item>
        
        <ion-item>
          <ion-label>Apellido: </ion-label>
          <ion-text>{{ apellido }}</ion-text>
        </ion-item>
        
        <ion-item>
          <ion-label>Usuario: </ion-label>
          <ion-text>{{ usuario }}</ion-text>
        </ion-item>
        
        <ion-item>
          <ion-label>Mail: </ion-label>
          <ion-text>{{ email }}</ion-text>
        </ion-item>
        
      </ion-list>

      <!-- BOTON EDITAR-->
      <ion-button expand="block" color="dark" shape="round" (click)="editarPerfil()">Editar Perfil</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
