ion-card {
    background-color:#ccd8c7;
    backdrop-filter: blur(5px);
    box-shadow: none;
    border-radius: 2%;
}


ion-card-title {
    font-weight: bold;
    color: #41483c;
}

ion-card ion-input {
    --background: transparent;
    color: #41483c;
    
}

ion-card input {
    background-color: transparent;
    color: #41483c;
    
}

ion-card ion-item {
    --background: transparent;
    color: #41483c;
    
}

ion-item ion-input {
    color: #8f867e;
}

ion-button {
    color: dark;
    text-transform: initial;
}

ion-toolbar{
  width: 100px;
  height: 100px;
}

.center-title{
    margin: 0 auto;
    text-align: center;
}

ion-list{
    background-color: #ccd8c7;
}