.nomad-budget-content {
    display: flex;
    align-items: center;
}

.nomad-budget-content img {
    width: 25%;
    position: absolute;
    margin-left: 3%;
}

.nomad-budget-icon {
    margin-right: 8px;
}