ion-content {
    --background: none;
    background-image: url('../../assets/img/background.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.flex-center {
    display: flex;
    justify-content: center;
}

ion-card {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: none;
    border-radius: 5%;
    width: 90%;
}

ion-card-title {
    font-weight: bold;
    color: #41483c;
}

ion-card ion-input {
    --background: transparent;
    color: #41483c;
    /*color texto*/
}

ion-card input {
    background-color: transparent;
    color: #41483c;
    /*color texto*/
}

ion-card ion-item {
    --background: transparent;
    color: #fcc931;
    /*color texto*/
}

ion-item ion-input {
    color: #8f867e;
}

ion-button {
    color: dark;
    text-transform: initial;
}

.logo-container {
    display: flex;
    justify-content: center;
    border-radius: 50%;

}

.logo {
    width: 100%;
    animation: zoomInOut 5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}