ion-list{
    --background: transparent;
    background-color: transparent;
}
ion-item{
    --background: transparent;
    background-color: transparent;
}

ion-item ion-icon{
    color: #41483c;
}
ion-header,
ion-toolbar{
    background-color: #41483c;
    color: white;
}