#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px; 
}

.person{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

ion-card {
  background-color: #ccd8c7;
  backdrop-filter: blur(5px);
  box-shadow: none;
  border-radius: 5%;
  margin: 10%  auto;
  width: 75%; 
}

ion-card-header ion-button{
  font-size: large;
  font-weight: bolder;
  color: #41483c;

}

ion-card-content{
  color: #8f867e;
}

.home-info {
  text-align: center;
  color: #41483c;
  margin-top: 15%;
}

ion-toolbar{
  width: 100px;
  height: 100px;
}