<ion-header [translucent]="true">
  <ion-toolbar>
    <app-nomad-budget [NomadBudget]="'NomadBudget'"></app-nomad-budget>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="user-info">
    <img src="../../assets/img/avatar.png" alt="User Avatar" class="user-avatar" />
  <h3> {{ email }} </h3>
  </div>

  <div class="home-info">

    <ion-card>
      <img src="../../assets/img/viajesForm.jpg" alt="FormularioViajes" />
      <ion-card-header>
        <ion-button fill="clear" routerLink="/viajes-form">Nuevo Viaje</ion-button>
      </ion-card-header>
      <ion-card-content>
        Formulario de ingreso para nuevos viajes.
      </ion-card-content>
    </ion-card>



    <ion-card>
      <img src="../../assets/img/viajesDet.jpg" alt="DetalleViajes" />
      <ion-card-header>
        <ion-button fill="clear" routerLink="/viajes-det">Tus Viajes</ion-button>
      </ion-card-header>
      <ion-card-content>
        Revisa todos los viajes que has hecho.
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>